<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head id="headerFragment" th:fragment="headerFragment">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/thymeleaf-demo.css}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" id="navbar" th:fragment="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="sv"><a th:href="@{/sv}">Schiffe versenken </a></li>
                    <!--<li id="ttt"><a th:href="@{/ttt}">TIC TAC TOE</a></li>-->
                </ul>

                <!--<p class="navbar-text navbar-right">
                    <a th:href="creategame">Neues Spiel</a>
                </p>-->
            </div>
        </div>
        <script>
            if (window.location.href.indexOf("/sv") != -1) {
                document.getElementById("sv").classList.add("active");
            } else if (window.location.href.indexOf("/ttt") != -1) {
                document.getElementById("ttt").classList.add("active");
            }
        </script>
    </nav>
</div>
</body>
</html>