/* body { */
/* 	max-width: 1615px; */
/*     margin: 0 auto; */
/*     font-family: Verdana, Arial, Helvetica, sans-serif; */
/*     font-size: 16px; */
/*     font-weight: normal; */
/*     text-align: center; */
/*     color: #000000; */
/*     background-color: #dddddd; */
/* } */
table {
	margin-left: auto !important;
	margin-right: auto !important;
}

.fullwidth {
	width: 33%;
}

.publicColumn {
	width: 80%;
}

.usersColumn {
	width: 20%;
}

.vtop {
	vertical-align: top;
}

.chatlogs {
	height: 200px;
	overflow: auto;
	padding: 0.5em 1em 0.5em 0.5em;
}

.usersList {
	height: 200px;
	overflow: auto;
}

.usersList ul {
	list-style-type: none;
	padding-left: 10px;
}

.usersList ul li {
	margin-bottom: 2px;
}

.usersList .ui-button-text {
	padding: 0;
}